.header {
  padding: 5px 15px 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #fff;
}
.header div {
  background: #f7f7f7;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  height: 32px;
  color: #ccc;
  width: calc(100% - 46px);
}
.header div input {
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  text-align: center;
}
.home_main .wrap {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}
.home_main .wrap h5 {
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: normal;
  padding: 10px 15px;
  box-sizing: border-box;
}
.home_main .wrap ul li {
  padding: 10px 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.home_main .wrap ul li img {
  margin-right: 25px;
}
