.header {
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}
.home_main {
  padding: 5px;
}
.home_main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home_main ul li {
  width: calc(100vw / 2 - 7.5px);
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: #fff;
}
.home_main ul li div {
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  box-sizing: border-box;
}
.home_main ul li div h5 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: normal;
}
.home_main ul li div span {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}
.home_main ul li .cover {
  width: 100%;
  height: calc(100vw / 2 - 7.5px);
  object-fit: cover;
}
.home_main ul li .like {
  position: absolute;
  right: 0px;
  top: 0px;
}
.home_main ul .infinite-loading-container {
  width: 100%;
}
.screen {
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.screen ul {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(9, 9, 9, 0.3);
}
.screen ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 12px 25px;
  position: relative;
  font-size: 16px;
  color: #007099;
}
.screen ul li img {
  margin-right: 10px;
}
.screen ul li:first-child:before {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #f2f2f2;
}
.sortStyle {
  width: 100%;
}
.sortStyle ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.sortStyle ul li.active {
  color: #007099;
}
